*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 1000px;
    background-color: rgb(255, 240, 243);
    align-items: center;
    justify-content: start;
}

.container{
    max-width: 1000px;
    width: 100%;
    align-items: center;
    gap: 20px;
    font-family: sans-serif;
}

#header{
    padding: 20px;
    gap: 5px;
    background-color: pink;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 5px 15px rgba(125, 43, 69, 0.634);
}

h2{
    font-family: Impact;
    font-size: 50px;
    color: rgb(132, 41, 74);    
}

.motivation-text{
    font-size: 12px;
    color: rgb(118, 86, 98);    
}

.header-bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 10px 0;
}
a{
    flex-shrink: 0;
    text-decoration: none;
    color: white;
    padding: 0 30px 0;
    
}

a:hover{
    text-decoration: underline;
}

.main-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: 'Times New Roman', Times, serif;   
}

#task-input{
    width: 500px;
    padding: 5px;
    margin: 10px;
}

h1{
    font-size: 20px;
    color: rgb(132, 41, 74);
}

#add-button{
    background-color: pink;
    border: 1px solid rgb(151, 43, 61);
    border-radius: 100%;
    color: white;
    font-weight: bolder;
    padding: 10px;
    transition: 0.2s;
    box-shadow: 0px 0px 15px pink;
}

li{
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 13px;
    border: 1px solid rgb(151, 43, 61);
    border-radius: 5px;
    margin: 5px 0;

}

li span{
    flex: 1;
    text-align: start;
    padding-left: 12px;
}


li button{
    background-color: pink;
    border: 1px solid rgb(151, 43, 61);
    border-radius: 5px;
    color: rgb(105, 18, 47);
    font-weight: bolder;
    padding: 7px;
    box-shadow: 0px 0px 15px pink;
    transition: 0.2s;
}
button:hover{
    transform: scale(1.1);
}
button{
    cursor: pointer;
}

li input[type='checkbox']{
    transform: scale(1.3);
    transition: 0.2s;
    cursor: pointer;
}
li input[type='checkbox']:hover{
    transform: scale(1.5);
}
