*{
  margin: 0;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  margin: 20px;
  border-radius: 10px;
  padding: 5px;
  border: 3px solid #e1829a;
  gap: 5px;

  transition: 0.2s;
  width: 220px;
  min-width: 220px;
  max-width: 220px;
  height:auto;
  min-height: 620px;
  max-height: 620px;
  flex-shrink: 0;

  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.15);
}

.card-main-image{
  position: relative;
}

.main-image{
  width: 120px;
  height: 120px;
  object-fit: contain;
  padding: 10px;
  border-radius: 5px;

}
h1{
  text-align: center;
  font-size: 24px;
  color: #e1618e;
  font-family: 'monospace';
}

.thumbnails{
  background: linear-gradient(rgba(255, 119, 188, 0.55), beige);
  padding: 7px;
  border-radius: 10px;
  display: flex;
  gap: 5px;
  margin-top: 5px;
  justify-content: center;
  flex-wrap: wrap;
}

.thumbnails .thumb{
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: border 0.2s;
}
.thumbnails .thumb.active {
  border-color: #ff72ba;
}
.thumbnails .thumb:hover {
  border-color: lightpink;
}
.arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;

  background: linear-gradient(to bottom, #ff72ba,#ff72ba, pink);
  color: beige;
  border: none;
  border-radius: 50%;


  cursor: pointer;
  font-size: 18px;
  font-weight: bold;

  transition: 0.2s ease;

}

.arrow:hover{
  transform: translateY(-50%) scale(1.1);
}

.arrow.left {
  left: -35px;
}

.arrow.right {
  right: -35px;
}

.price{
  font-size: 25px;
  font-weight: bold;
  color: #ff72ba;

}

.description{
  text-align: center;
  font-size: 10px;
  padding: 5px 20px;
  color: #ae3472;
  font-weight: bold;
}

.stars{
  color: pink;
  text-shadow: 0px 1px 4px rgba(81, 11, 39, 0.27);
}

.stars .filled {
  color: #ff72ba;
}

.kaspi-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  width: 82%;
  margin-top: 10px;
  padding: 8px;

  background: linear-gradient(to bottom, white, whitesmoke, pink);
  box-shadow: 0px 1px 5px rgba(156, 25, 94, 0.62);
  color: #ff72ba;
  text-decoration: none;

  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;

  transition: 0.2s ease;
}

.kaspi-link img {
  width: 16px;
  height: 16px;
}

.kaspi-link:hover {
  transform: scale(1.03);
}



.whatsapp-share {
  width: 90%;
  margin-top: 8px;
  padding: 7px;

  background: linear-gradient(to bottom, #ff72ba,#ff72ba, pink);;
  color: beige;

  border: none;
  border-radius: 8px;

  font-weight: 600;
  font-size: 14px;
  box-shadow: 0px 1px 5px rgba(156, 25, 94, 0.62);

  cursor: pointer;
  transition: 0.2s ease;
  margin-bottom: 10px;
}

.whatsapp-share:hover {
  transform: scale(1.03);
}



.likes {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  color: #e1618e;
  font-weight: bold;
}

.like-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s;
  color: #ff72ba;
}

.like-btn:hover {
  transform: scale(1.3);
}

.delete-btn {
  width: 90%;
  margin-top: 6px;
  margin-bottom: 10px;
  padding: 7px;
  background: linear-gradient(to bottom, #ffa3ae, #ff8ea8);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  box-shadow: 0px 1px 5px rgba(200, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.2s ease;
}

.delete-btn:hover {
  transform: scale(1.03);
}