*{  
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.container{
    display: flex;
    max-width: 1000px;
    width: 100%;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
}

.left{
    position: relative;
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.insta-logo{
    position: absolute;
    height: 100px;
    width: auto;
    display: inline-block;
    align-self: flex-start;
    padding: 25px;
}

.left-text{
    max-width: 500px;
    margin-top: 100px;
    font-size: 30px;
    font-weight: 100;
    line-height: 1.5;
    text-align: center;
}

.gradient-text{
    display: inline-block;
    background: linear-gradient(#4F5BD5,#962FBF,#D62976, #FA7E1E, #FEDA75);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.phone-mockup{
    padding: 15px;
    max-width: 500px;
    height: auto;

}

.vertical-line{
    width: 1px;
    background-color: #dbdbdb;
    margin: 0 40px;
}

.right{
    flex:2;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
    background-color: white;
    justify-content: center;
}

.login{
    width: 100%;

}

.back-row{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 30px;
}
.back-button{
    width: 35px;
    border-radius: 100px ;
    border: 3px solid transparent;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
}

.back-text{
    font-weight: 700;
    font-size: 20px;
}

.back-button:hover{
    background-color: rgba(234, 234, 234, 0.966);
}

.right-input{
    display: flex;
    flex-direction: column;
    width: 100%;
}

input{
    width: 100%;
    padding: 13px;
    font-size: 15px;
    border-radius: 15px;
    border: 2px solid rgb(222, 222, 222);
    margin-bottom: 10px;
}

input::placeholder{
    color: rgb(110, 108, 108);
}

.login-button{
    padding: 10px;
    width: 100%;
    display: block;
    border: 2px solid transparent;
    border-radius: 20px;
    background-color: rgb(0, 153, 255);
    color: rgba(255, 255, 255, 0.703);
    margin-bottom: 10px;
    font-size: 15px;

}

.forgot-password{
    padding: 10px;
    width: 100%;
    display: block;
    border: 2px solid transparent;
    border-radius: 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
    font-size: 15px;
}
.forgot-password:hover{
    background-color: rgba(234, 234, 234, 0.966);
}

.other-login{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
a{
    text-decoration: none;
}
.facebook a{
    color: black;
}
.facebook{
    width: 100%;
    text-align: center;
    gap: 8px;
    padding: 10px;
    display: block;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
}
.facebook:hover{
        background-color: rgba(234, 234, 234, 0.966);
}
.new-account a{
    color: rgb(0, 153, 255);
}
.new-account{
    width: 100%;
    text-align: center;
    gap: 8px;
    padding: 10px;
    display: block;
    border: 1px solid rgb(0, 153, 255);
    border-radius: 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
}
.new-account:hover{
    background-color: rgba(234, 234, 234, 0.966);
}
button{
    cursor: pointer;
}
.footer a{
    color: gray;
    padding: 5px;
}
.footer{
    color: gray;
    width: 100%;
    padding: 10px;
    line-height: 1.5;
    text-align: center;
    justify-content: center;
    margin: 5px;
}

select{
    border: 4px solid transparent;
    background: transparent;
    color: gray;
}