*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f3f6;
    align-items: center;
    
}

.container{
    display: flex;
    max-width: 1000px;
    padding: 80px 50px;
    width: 100%;
    gap: 80px;
    align-items: center;
    justify-content: center;
    

}
.left-heading{
    font-size: 25px;
}
.left-heading h1{
    color: #0a66fe;
    font-size: 70px;
    margin-bottom: 10px;

}
.left-heading p{
    font-size: 20px;
    color: black;
}
hr{
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 10px 10px 10px 10px;
}

.login-window{ 
    box-sizing: border-box;
    width: 100%;
    padding: 12px 10px;
    font-size: 16px;
    max-width: 500px;
    align-items: center;
    gap: 15px;
}

.white-window{
    flex-direction: column;
    width: 100%;
    max-width: 520px;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px #bdbdbd;
}
.login, .sign-up{
    width: 100%;
    font-size: 16px;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
}
.password {
    color: #0a66fe;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 12px;
    margin-top: 15px;
}

.login{
    width: 100%;
    background: #0a66fe;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;

}
.login-window input{
    padding: 10px 100px 10px 100px;
    font-size: 16px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom: 12px;
    
}
.login-window p{
    color: black;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    max-width: 340px;
}
.create-page a{
    color: black;
}


.sign-up{
    border: none;
    border-radius: 4px;
    background-color: #41b629;
    color: white;
    padding: 10px;
    font-weight: 500;
    align-self: center;
    width: 75%;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footer a{
    color: gray;
}
.footer{
    margin-top: auto;
    width: 100%;
    background-color: white;
    padding: 20px 0 28px;
}
.footer .languages, .footer .links
{   
    margin: 0 auto;
    color:#d7d4d4bb;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px 12px;
    padding: 5px;
    font-size: 12px;

}
.footer button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 28px;
    height: 20px;
    border: 1px solid rgb(217, 217, 217);
    background-color: #f4f3f3;
    color:rgb(96, 96, 98);
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;

}
.footer-meta{
    color: #696969;
    margin-left: 5px;
    margin-top: 15px;
    font-size: 10px;
}


@media (max-width: 900px) { 
    .container {
        flex-direction: column; 
        gap: 30px;
        padding: 20px;
        align-items: center;
    }

    .left-heading {
        text-align: center;
    }

    .login-window {
        width: 100%;
        max-width: 400px;
    }
    .login-window input{
        padding: 10px 80px 10px 80px;
    }
}
