<div class="card">
  <h1>{{product.name}}</h1>

  <div class="card-main-image">
    <button class="arrow left" (click)="prevImage()">&#10094;</button>
    <a [href]="product.link" target="_blank">
      <img [src]="product.images[activeImgIndex]"
           [alt]="product.name" class="main-image">
    </a>
    <button class="arrow right" (click)="nextImage()">&#10095;</button>
  </div>

  <div class="thumbnails">
    @for(img of product.images; track $index){
      <img
        [src]="img"
        [alt]="product.name"
        class="thumb"
           [class.active]="$index === activeImgIndex"
           (click)="setActiveImg($index)" />
    }
  </div>

  <p class="price">{{product.price | number}}₸ </p>
  <p class="description">{{product.description}}</p>

  <div class="stars">
  @for(star of getStars(); track $index){
    <span [class.filled]="star === 1">★</span>
  }
  </div>


  <a class="kaspi-link" [href]="product.link" target="_blank">
    <img src="assets/images/kaspi-icon.png"
    width="30px"/>
    View on Kaspi
  </a>
  <button class="whatsapp-share" (click)="shareOnWhatsApp()">Share</button>

</div>
